.materialItem:hover {
  background-color: #949494;
  cursor: pointer;
}

.materialItem {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px;
}
